# Python
__pycache__/
*.pyc
*.pyo
.env

# Database — too large for GitHub
backend/coffee_shop.db

# CSV — too large for GitHub  
backend/data/

# Node
frontend/node_modules/
frontend/dist/

# Mac
.DS_Store
